body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/**
 * Intro
 */
.intro {
    max-width: 60%;
    p {
        padding: 0 $spacing-unit * 2;
    }
}


/**
 * Overview
 */
.overview {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    display: flex;
    article {
        -ms-flex-basis: calc(100%/3);
    	flex-basis: calc(100%/3);
        display: block;
        margin: 0 $spacing-unit;
        text-align: center;
    }
    img {
    	display: inline-block;
        max-width: 125px;
        padding: 0 0 $spacing-unit 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    padding: 0;
}

/**
 * Header
 */
.site-header {
	position: absolute;
	top: 0; left: 0; right: 0;
}
.site-social {
    p {
        display: block;
        margin: 2.5em 1em 0;
        display: inline-block;
        color: $brand-color;
    }
}



/**
 * Modals
 */
.modal-inner {
  width: 50%;
}
