/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100vh;
    &.home {
        background-image: url('../images/bg@2x.jpg');
        background-size: cover;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $base-font-weight;
}
h1, h2 {
    font-size: #{36px / $base-font-size}em;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/**
 * Buttons
 */
 .btn {
    position: relative;
    display: inline-block;
    border-radius: $border-radius;
    padding: 0.5em 2em;
    background-color: $brand-color;
    text-align: center;
    color: $background-color;
    transition: all .2s ease;
    opacity: 1;
    transform: translate(0, 0);
    box-shadow: none;
    &:hover {
        opacity: 0.95;
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px 2px rgba($text-color, 0.2);
        text-decoration: none;
        color: $background-color;
    }
 }



/**
 * CTA
 */
 .cta {
    margin: $spacing-unit auto;
    font-size: $large-font-size;
    text-align: center;
    font-family: $heading-font-family;
 }



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Wrapper
 */
.wrapper {
    position: relative;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 $spacing-unit * 1.5;
    @extend %clearfix;
}



/**
 * Intro
 */
.intro {
    margin: $spacing-unit * 1.5 auto;
    text-align: center;
    color: $brand-color;
    p {
        padding: 0 $spacing-unit;
    }
}

.overview {
    color: $brand-color;
    article {
        display: flex;
        align-items: center;
        margin: 0 0 $spacing-unit;
        &:nth-child(2) img {
            order: 100;
            padding-right: 0;
            padding-left: $spacing-unit;
        }
    }
    img {
        max-width: 25%;
        padding-right: $spacing-unit;
    }
}


/**
 * Header
 */
.site-name {
    display: block;
    margin: $spacing-unit 0;
    text-transform: uppercase;
    &:hover {
        text-decoration: initial;
        color: $brand-color;
    }
}




/**
 * Modals
 */
.modal {
  display: none;
}

.modal-init .modal-hidden {
    display: none;
}

.modal-init .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.modal-init .modal > * {
  display: inline-block;
  white-space: normal;
}

.modal-init .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.modal-init.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  position: relative;
  overflow: hidden;
  width: 90%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  background: $brand-color;
  border-radius: $border-radius;
  padding: $spacing-unit;
  text-align: center;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
}
.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}
.modal-visible .modal-content {
    img {
        margin: $spacing-unit;
    }
}

a[rel="modal:close"] {
  position: absolute;
  z-index: 2;
  right: $spacing-unit;
  top: $spacing-unit;
  width: 16px; height: 16px;
  background: transparent url('../images/icon_close.svg') center center / 100% auto no-repeat;
  cursor: pointer;
  color: transparent;
}

/**
 * Forms
 */
div[role="group"] {
    display: flex;
    width: 75%;
    margin: $spacing-unit auto;
    padding: 0;
    border: 1px solid $highlight-color;
    border-radius: $border-radius;
    overflow: hidden;
    input[type="email"] {
        flex: 1;
        border: none;
        padding: 0.5em 1em 0.55em;
        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        border: none;
        padding: 0.5em 1em 0.55em;
        background-color: $highlight-color;
        font-size: $large-font-size;
        color: $brand-color;
        &:focus {
            outline: none;
        }
    }
}