/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100vh;
    &.home {
        background-image: url('/images/bg@2x.jpg');
        background-size: cover;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $base-font-weight;
}
h1 {
    font-size: #{36px / $base-font-size}em;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/**
 * Buttons
 */
 .btn {
    position: relative;
    display: inline-block;
    border-radius: $border-radius;
    padding: 0.5em 2em;
    background-color: $brand-color;
    text-align: center;
    color: $background-color;
    transition: all .3s ease;
    opacity: 1;
    transform: none;
    &:hover {
        opacity: 0.9;
        transform: translateY(-2px);
        text-decoration: none;
        color: $background-color;
    }
 }



/**
 * CTA
 */
 .cta {
    margin: $spacing-unit auto;
    font-size: $large-font-size;
    text-align: center;
    font-family: $heading-font-family;
 }



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Wrapper
 */
.wrapper {
    position: relative;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 $spacing-unit * 1.5;
    @extend %clearfix;
}



/**
 * Intro
 */
.intro {
    margin: $spacing-unit * 1.5 auto;
    text-align: center;
    color: $brand-color;
    p {
        padding: 0 $spacing-unit;
    }
}

.overview {
    color: $brand-color;
    article {
        display: flex;
        align-items: center;
        margin: 0 0 $spacing-unit;
        &:nth-child(2) img {
            order: 100;
            padding-right: 0;
            padding-left: $spacing-unit;
        }
    }
    img {
        max-width: 25%;
        padding-right: $spacing-unit;
    }
}


/**
 * Header
 */
.site-name {
    display: block;
    margin: $spacing-unit 0;
    text-transform: uppercase;
    &:hover {
        text-decoration: initial;
        color: $brand-color;
    }
}





