/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
html, body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100vh;
    &.landing-home {
        background-image: url('../images/bg@2x.jpg');
        background-size: cover;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin: $spacing-unit 0;
    padding: 0;
    list-style-type: none;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $base-font-weight;
    line-height: $small-line-height;
}
h1, h2 {
    font-size: #{36px / $base-font-size}em;
    margin-top: 0.25em;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/**
 * Buttons
 */
 .btn {
    position: relative;
    display: inline-block;
    border-radius: $border-radius;
    padding: 0.5em 2em;
    background-color: $brand-color;
    text-align: center;
    color: $background-color;
    transition: all .2s ease;
    opacity: 1;
    transform: translate(0, 0);
    box-shadow: none;
    &:focus {
      outline: none;
    }
    &:hover {
        opacity: 0.95;
        transform: translate(-2px, -2px);
        box-shadow: 2px 2px 2px rgba($text-color, 0.2);
        text-decoration: none;
        color: $background-color;
    }
 }
 .btn-list {
    display: flex;
    justify-content: center;
    li {
        margin-right: $spacing-unit;
        &:last-child {
            margin-right: 0;
        }
    }
 }



/**
 * CTA
 */
 .cta {
    margin: $spacing-unit auto;
    font-size: $large-font-size;
    text-align: center;
    font-family: $heading-font-family;
 }



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Wrapper
 */
.wrapper {
    position: relative;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 $spacing-unit * 1.5;
    @extend %clearfix;
    &.sm {
        max-width: $content-width-sm;
    }
}



/**
 * Intro
 */
.intro {
    margin: $spacing-unit * 1.5 auto;
    text-align: center;
    color: $brand-color;
    p {
        padding: 0 $spacing-unit;
    }
}

.overview {
    color: $brand-color;
    article {
        display: flex;
        align-items: center;
        margin: 0 0 $spacing-unit;
        &:nth-child(2) img {
            order: 100;
            padding-right: 0;
            padding-left: $spacing-unit;
        }
    }
    img {
        max-width: 25%;
        padding-right: $spacing-unit;
    }
}

.start-profile {
  display: none;
}


/**
 * Header
 */
 .site-header {
    background: transparent none center center / contain repeat;
 }
.site-name {
    display: block;
    padding: $spacing-unit 0;
    text-transform: uppercase;
    &:hover {
        text-decoration: initial;
        color: $brand-color;
    }
}



/**
 * Sub-Header
 */
 .sub-header {
    color: $brand-color;
    font-size: $small-font-size;
 }



/**
 * Modals
 */

.modal-hidden {
    display: none;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden; -webkit-transform: translate3d(0,0,0);}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}


#colorbox {
  &:focus {
    outline: none;
  }
}
#cboxContent {
  width: 90%;
  background: $brand-color;
  border-radius: $border-radius;
  padding: $spacing-unit * 2 $spacing-unit 0;
  text-align: center;
  h2 {
    color: $contrast-color;
  }
}
#cboxOverlay {
  opacity: 1;
  background: rgba($contrast-color, 0.9);
}
#cboxClose {
  position: absolute;
  z-index: 2;
  right: $spacing-unit;
  top: $spacing-unit;
  width: 16px; height: 16px;
  border: none;
  outline: none;
  background: transparent url('../images/icon_close.svg') center center / 100% auto no-repeat;
  cursor: pointer;
  color: transparent;
}

/**
 * Forms
 */
div[role="group"] {
    display: flex;
    width: 75%;
    margin: $spacing-unit auto;
    padding: 0;
    border: 1px solid $highlight-color;
    border-radius: $border-radius;
    overflow: hidden;
    input[type="email"] {
        flex: 1;
        border: none;
        padding: 0.5em 1em 0.55em;
        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        border: none;
        padding: 0.5em 1em 0.55em;
        background-color: $highlight-color;
        font-size: $large-font-size;
        color: $brand-color;
        &:focus {
            outline: none;
        }
    }
}



/**
 * Social
 */
.share-buttons {
    a {
        color: $contrast-color;
        padding: 0.5em 0.75em; 
    }
    a:before {
        @extend .ss-icon;
        display: inline-block;
        margin-right: 0.5em;
        line-height: 1;
    }
    a[rel="facebook"]:before {
        content: "Facebook";
        color: $facebook-blue;
    }
    a[rel="twitter"]:before {
        content: "Twitter";
        color: $twitter-blue;
    }
    a[rel="email"]:before {
        content: "Email";
    }
}
.follow-buttons {
    a {
        @extend .ss-icon;
        border-radius: 50%;
        font-size: $large-font-size;
        width: 40px; height: 40px;
        line-height: 40px;
        padding: 0;
    }
    a[rel="facebook"] {
        color: $facebook-blue;
    }
    a[rel="linkedin"] {
        color: $linkedin-blue;
    }
    a[rel="twitter"] {
        color: $twitter-blue;
    }
}


/**
 * Details page
 */
.detail {
    .site-header {
        background-image: url('../images/bg_header@2x.jpg');
    }
    .page-content {
        display: flex;
        flex-direction: column;
    }
    .profile-results {
        flex: 1;
    }
}



/**
 * Profile
 */
 .profile {
    display: flex;
    align-items: center;
    .profile-img {
        margin-right: 1em;
    }
    .profile-email {
        flex: 1;
    }
 }
 .profile-results {
    background-color: rgba($brand-color, 0.7);
 }



/**
 * Scores list
 */
.scores-list {
    margin: 0.5em 0;
    text-align: center;
    span {
        display: block;
    }
}
